* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

:root {
  --color-p: 79, 169, 210;
  --color-p-s: 70, 155, 180;
  --color-s: 245, 246, 250;
  --color-g: 49, 196, 82;
  --color-r: 223, 103, 86;
  --color-d: 52, 65, 80;
  --color-w: 240, 221, 93;
  --color-contrast: 255, 255, 255;
  /* --color-p: 0, 123, 255;
  --color-p-s: 0, 110, 229;
  --color-s: 245, 246, 250;
  --color-g: 49, 196, 82;
  --color-r: 227, 92, 105;
  --color-d: 52, 58, 64;
  --color-w: 254, 192, 7;
  --color-contrast: 255, 255, 255; */

  --fs-h-p: calc(1.6rem + 0.15vw);
  --fs-p: calc(0.7rem + 0.15vw);

  --navbar-w: 72px;
}

.c-p {
  color: rgb(var(--color-p));
}
.c-y {
  color: rgb(var(--color-w));
}
.c-s {
  color: rgb(var(--color-g));
}
.c-d {
  color: rgb(var(--color-r));
}

.btn {
  background-color: transparent;
  text-decoration: none;
  border: none;
  display: block;
  cursor: pointer;
}

.btn-p,
.btn-y,
.btn-s,
.btn-d,
.mini-card-p,
.mini-card-y,
.mini-card-s,
.mini-card-d {
  padding: 0.5em 0.8em;
  color: rgb(var(--color-contrast));
  min-height: 38px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0.1em;
}

.btn-p {
  background-color: rgb(var(--color-p));
}

.btn-y {
  background-color: rgb(var(--color-w));
}

.btn-s {
  background-color: rgb(var(--color-g));
}

.btn-d {
  background-color: rgb(var(--color-r));
}

.mini-card-p {
  background-color: rgb(var(--color-p));
}

.mini-card-y {
  background-color: rgb(var(--color-w));
}

.mini-card-s {
  background-color: rgb(var(--color-g));
}

.mini-card-d {
  background-color: rgb(var(--color-r));
}

.add-btn {
  display: inline;
  font-size: calc(var(--fs-p) + 0.4em);
  padding: 0 0.5em;
  transition: 0.2s all ease-out;
  background-color: rgb(var(--color-p));
  margin: 0 0.5em;
  color: rgb(var(--color-contrast));
  font-weight: bold;
  border-radius: 5px;
}

.add-btn:hover {
  color: rgb(var(--color-d), 1);
}

.add-form {
  height: fit-content;
  max-height: 0;
  transition: 0.8s all ease-out;
  overflow: hidden;
}

.add-form.active {
  max-height: 4900px;
}

.padding-b-2em {
  padding-bottom: 2em !important;
}

.main-cont {
  min-height: 100vh;
  background-color: rgb(var(--color-s));
  display: flex;
}

/* navbar style */

.menubar {
  background-color: rgb(var(--color-d));
  height: 100vh;
  overflow-y: auto;
  width: var(--navbar-w);
  flex: 1 0 auto;
  transition: width 0.5s ease-out;
  z-index: 1;
  overflow-x: hidden;
  stroke-width: none;
}

.menubar::-webkit-scrollbar {
  display: none;
}

.menubar.active {
  width: 250px;
  position: initial;
}

.menubar.p-absolute {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.menubar:hover {
  width: 250px;
}

.menubar .nav-item > a > *,
.menubar .nav-item > ul > li > a > * {
  opacity: 0;
  transition: opacity 0.5s;
}

.menubar:hover .nav-item > a > *,
.menubar:hover .nav-item > ul > li > a > *,
.menubar.active .nav-item > a > *,
.menubar.active .nav-item > ul > li > a > * {
  opacity: 1;
}

.menubar .nav-item .menu-icon {
  opacity: 1 !important;
}

.top-sec {
  padding: 0.08em 0;
}

.top-sec > div {
  --h-spac: 1.3em;
  padding-left: var(--h-spac);
  padding-right: var(--h-spac);
}

.brand-logo {
  font-size: 1.05rem;
  color: rgb(var(--color-s));
  margin: 0.5em 0;
  white-space: nowrap;
}

.img-r {
  border-radius: 50%;
  overflow: hidden;
}

.img-r > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img-sec {
  padding: 0.7em 0;
  border-top: 1px solid rgb(var(--color-s), 0.4);
  border-bottom: 1px solid rgb(var(--color-s), 0.4);
}

.profile-img-wrapper {
  width: 35px;
  aspect-ratio: 1;
}

.nav-items {
  padding: 0.8rem 0.5rem;
}

.nav-items li {
  list-style: none;
}

.nav-items li > a {
  font-size: calc(var(--fs-p) + 0.3em);
  text-decoration: none;
  color: rgb(var(--color-s));
  padding: 0.45em 0.9em;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.4s ease-out;
}

.nav-items li:hover > a,
.dropdown.open > a {
  color: rgb(var(--color-contrast));
  background-color: rgb(var(--color-s), 0.2);
}

.nav-items a > span {
  font-size: var(--fs-p);
  white-space: nowrap;
}

.nav-items .nav-item.active > a {
  background-color: rgb(var(--color-p));
  color: rgb(var(--color-contrast));
}

.nav-item:not(:last-child),
.nav-item > ul > li:not(:last-child) {
  margin-bottom: 0.2em;
}

.nav-item.dropdown {
  margin-bottom: 0;
}

.nav-item > ul {
  max-height: 0px;
  margin-top: 0.2em;
}

.dropdown > ul {
  height: fit-content;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.dropdown > a {
  position: relative;
}

.dropdown.open > ul {
  max-height: max(1000px, 100vh);
}

.dd-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  color: var(--color-s);
  display: grid;
  place-content: center;
  font-size: var(--fs-p);
  rotate: 90deg;
  transition: rotate 0.4s !important;
}

.dropdown.open .dd-icon {
  rotate: 0deg;
}

.nav-closer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  inset: 0;
  margin: auto;
  display: none;
  z-index: -1;
}

.nav-closer.active {
  display: block;
  z-index: 0;
}

/* navbar style end */

.page-contents {
  background-color: rgb(var(--color-s));
  width: calc(100% - var(--navbar-w));
  margin-left: var(--navbar-w);
}

.page-contents.m0 {
  margin-left: 0;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 0.5em;
  background-color: rgb(var(--color-contrast));
}

.top-bar > h4 {
  color: rgb(var(--color-p));
}

.menu-toggle {
  margin: 0 0.5em;
}

.menu-toggle > button {
  font-size: 1.2rem;
  border: none;
  padding: 0.5em;
  background-color: transparent;
  cursor: pointer;
}

.content-container {
  padding: 0.8em;
}

.content-container > div:not(:last-child) {
  margin-bottom: 1.3em;
}

.main-heading {
  font-size: var(--fs-h-p);
  padding: 0.4em 0.2em;
}

.db-filter {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(var(--color-contrast));
  border-radius: 10px;
  padding: 0 0.5em;
}

.db-filter > div {
  flex-grow: 1;
}

.db-filter form {
  display: flex;
  align-items: center;
}

.db-filter .db-filter-form-wrapper {
  display: flex;
  gap: 3%;
  align-items: end;
  flex-wrap: wrap;
  flex-grow: 1;
}

.db-filter .db-filter-form-wrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto !important;
  flex-grow: 1;
  gap: 10px;
}

.db-filter .db-filter-form-wrapper div label {
  display: inline !important;
  white-space: nowrap;
}

.db-filter .radio-btn-wrapper {
  display: flex;
  justify-content: end;
  padding: 0.8em 0;
  flex-wrap: wrap;
}

.db-filter .radio-btn-wrapper > div {
  flex-grow: 1;
  display: flex;
  padding: 0 0.5em;
  align-items: end;
  gap: 1.5em;
  min-width: 100px;
  justify-content: center;
  max-width: 150px;
}

.db-filter .radio-btn-wrapper input {
  width: auto;
}

.db-filter .radio-btn-wrapper label {
  font-size: var(--fs-p);
  color: rgb(var(--color-d), 0.8);
  white-space: nowrap;
}

.db-filter .radio-btn-wrapper label:active {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.db-filter .radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.db-filter .radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.db-filter .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  aspect-ratio: 1;
  background-color: rgb(var(--color-s));
  border-radius: 50%;
  transition: 0.3s all ease-out;
}

.db-filter .radio-container:hover input ~ .checkmark {
  background-color: rgb(var(--color-d), 0.1);
}

.db-filter .radio-container input:checked ~ .checkmark {
  background-color: rgb(var(--color-p));
}

.db-filter .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.db-filter .radio-container input:checked ~ .checkmark:after {
  display: block;
}

.db-filter .radio-container .checkmark:after {
  inset: 0;
  margin: auto;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(var(--color-contrast));
}

.dashboard-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.dashboard-info:not(:last-child) {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgb(var(--color-d), 0.5);
}

.card {
  padding: 1em;
  margin: 0.5em;
  color: rgb(var(--color-contrast));
  min-height: 140px;
}

.card-p {
  background-color: rgb(var(--color-p));
  position: relative;
}

.card-p .count {
  font-size: calc(var(--fs-h-p) - 0.2rem);
  font-weight: bold;
}

.card-p .name {
  font-size: var(--fs-p);
}

.card-p .details {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: rgb(var(--color-contrast));
  padding: 0.6em;
  background-color: rgb(var(--color-p-s));
  text-decoration: none;
  display: block;
  text-align: center;
}

.back-icon {
  position: absolute;
  top: 0;
  right: 0.5rem;
  color: black;
  opacity: 0.2;
}

.back-icon > i {
  transform-origin: top right;
  scale: 5;
  transition: 0.5s scale;
}

.card-p:hover .back-icon > i {
  scale: 6;
}

.card-s,
.card-t {
  display: flex;
}

.card-s {
  background-color: rgb(var(--color-g));
}

.card-t {
  background-color: rgb(var(--color-r));
}

.card-s .count,
.card-t .count {
  font-size: calc(var(--fs-p) + 0.2rem);
  font-weight: bold;
}

.card-icon {
  font-size: calc(var(--fs-h-p) + 0.5rem);
  display: grid;
  place-content: center;
  padding: 0 0.6em;
}

.card-contents {
  flex-grow: 1;
}

.card-top-text {
  font-size: calc(var(--fs-p) + 0.2rem);
  opacity: 0.8;
}

.card progress {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  height: 5px;
  border-radius: 2px;
  border: none;
  width: 95%;
  margin: 0.8em 0;
  background-color: rgba(255, 255, 255, 0.335);
}

.card progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.335);
}

.card progress::-webkit-progress-value {
  background-color: rgb(var(--color-contrast));
}

.card progress::-moz-progress-bar {
  background-color: rgb(var(--color-contrast));
}

.card label {
  font-size: calc(var(--fs-p) + 0.2rem);
  opacity: 0.8;
}

.table-wrapper,
.form-wrapper {
  background-color: rgb(var(--color-contrast));
  border-radius: 9px;
  overflow: hidden;
}

.table-wrapper {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.table-resp-wrapper {
  overflow-x: auto;
}

.table-heading,
.form-heading {
  padding: 1em;
  border-bottom: 1px solid rgb(var(--color-d), 0.2);
}

.table-heading {
  padding-bottom: 0.9em;
  margin-bottom: 0.9em;
}

.form-heading {
  background-color: rgb(var(--color-p));
  color: rgb(var(--color-contrast));
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--fs-p);
}

.table-wrapper table,
.table-wrapper td,
.table-wrapper th {
  border: 1px solid rgb(var(--color-d), 0.2);
}

.table-wrapper td,
.table-wrapper th {
  padding: 0.5em 0.8em;
  text-align: left;
  vertical-align: middle;
}

.table-wrapper tr:first-child th:first-child {
  width: 5%;
}

.table-wrapper .th {
  font-weight: 900;
}

.table-wrapper td img {
  max-height: 30px;
}

.table-wrapper .company-info {
  font-size: calc(var(--fs-p) + 0.5rem);
}

.table-wrapper .td-options,
.table-wrapper .td-middle,
.table-wrapper .td-options-group {
  text-align: center;
}

.table-wrapper .td-options-group {
  display: flex;
  gap: 0.2em;
  align-items: center;
  justify-content: center;
}

.table-wrapper .td-options-group > * {
  margin: 0 !important;
}

.table-wrapper .td-option {
  width: fit-content;
  text-align: center;
  margin: 0.2em auto;
}

.table-wrapper tr[--data-active="true"] > td:first-child {
  background-color: rgb(var(--color-g));
  color: rgb(var(--color-contrast));
}

.table-wrapper tr[--data-active="false"] > td:first-child {
  background-color: rgb(var(--color-r));
  color: rgb(var(--color-contrast));
}

.table-wrapper .sl-table {
  font-size: calc(var(--fs-p) + 0.2em);
}

.table-wrapper .sl-table thead {
  background-color: rgb(var(--color-p));
  color: rgb(var(--color-contrast));
}

.table-wrapper .sl-table tr td:nth-child(n + 3) {
  font-weight: bold;
}

.table-wrapper .table-top-bar {
  display: flex;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.table-wrapper .table-top-bar > div {
  font-size: calc(var(--fs-p) + 0.1em);
  font-weight: 700;
  border: 1px solid rgb(var(--color-d), 0.2);
  gap: 10px;
}

.table-wrapper .table-top-bar div {
  display: flex;
  align-items: center;
  padding: 0.2em 1em;
  white-space: nowrap;
  flex-grow: 1;
  flex-wrap: wrap;
}

.table-wrapper .table-top-bar.h-group {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.table-wrapper .table-top-bar .color-marks {
  display: flex;
}

.table-wrapper .table-top-bar span {
  color: rgb(var(--color-p-s));
  font-size: calc(var(--fs-p) + 0.2em);
}

.table-wrapper tfoot td {
  text-align: end;
}

.table-wrapper .table-bottom-bar {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0;
}

.table-wrapper .table-bottom-bar > div {
  border: 1px solid rgb(var(--color-d), 0.2);
  flex-grow: 1;
  font-size: var(--fs-p);
  padding: 1em;
}

.table-wrapper .table-bottom-bar span {
  color: rgb(var(--color-p-s));
}

.table-wrapper .table-bottom-bar > div > div {
  margin-top: 0.8em;
}

.table-wrapper thead,
.table-wrapper tfoot {
  background-color: rgb(var(--color-s));
}

.table-wrapper tfoot {
  font-size: calc(var(--fs-p) + 0.1em);
  font-weight: bold;
}

.table-wrapper tbody tr {
  transition: 0.2s ease-in all;
}

.table-wrapper tbody tr:hover {
  background-color: rgb(var(--color-d), 0.1);
}

.form-wrapper form {
  padding: 1em;
}

.form-wrapper .form-content-wrapper {
  display: flex;
  gap: 0.5em;
  align-items: end;
  width: 100%;
}

.form-wrapper .form-content-wrapper-grid {
  --min-width: 450px;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), auto));
  gap: 0.5em;
}

.form-wrapper .select-wrapper,
.form-wrapper .input-wrapper {
  width: 100%;
}

.form-wrapper select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.7em 0.9em;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.form-wrapper select[multiple] {
  height: 2.3rem;
}

.form-wrapper select[multiple] option {
  display: inline;
  padding: 0.3em 0.5em;
}

.form-wrapper select::-ms-expand {
  display: none;
}

.form-wrapper .select {
  position: relative;
  width: 100%;
  min-width: 15ch;
  border: 1px solid rgb(var(--color-d), 0.5);
  border-radius: 0.25em;
  font-size: var(--fs-p);
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

.form-wrapper .select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: rgb(var(--color-d), 0.5);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  grid-area: select;
  justify-self: end;
  position: absolute;
  margin-right: 0.5em;
}

.form-wrapper .focus {
  z-index: inherit;
}

.form-wrapper select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid rgb(var(--color-p));
  border-radius: inherit;
  pointer-events: none;
}

.form-wrapper .required {
  color: rgb(var(--color-r));
  font-size: calc(var(--fs-p) + 0.5em);
}

.form-wrapper label {
  display: block;
  padding-bottom: 0.3em;
}

input,
.form-wrapper textarea {
  font-size: var(--fs-p);
  width: 100%;
  border: 1px solid rgb(var(--color-d), 0.5);
  border-radius: 3px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="password"] {
  padding: 0.5em 0.5em;
}

input[type="date"] {
  padding: 0.6em 0.5em;
}

input:disabled {
  background-color: rgb(var(--color-d), 0.2);
}

input[type="file"] {
  opacity: 0;
  overflow: hidden;
  padding: 0.25em 0;
  max-width: 0;
}

.form-wrapper textarea {
  resize: vertical;
  padding: 0.6em 0.4em;
  min-height: 38px;
  height: 38px;
}

.form-wrapper .form-sec {
  margin: 0.4em;
  padding: 0.4em;
  border: 1px solid rgb(var(--color-d), 0.2);
  border-top: 5px solid rgb(var(--color-p));
  border-radius: 5px;
}

.form-wrapper .form-sec > h3 {
  font-size: calc(var(--fs-p) + 0.2em);
  padding: 0.2em 0;
  color: rgb(var(--color-d), 0.5);
}

.form-wrapper .form-sec > h3::after {
  content: ":";
}

.form-wrapper .form-sec > .form-content-wrapper:not(:last-child) {
  margin-bottom: 0.8em;
}

.file-label {
  position: relative;
  overflow: hidden;
  padding-bottom: 2.3em !important;
}

.file-label::after,
.file-label::before {
  box-sizing: border-box;
  position: absolute;
  height: 2.3em;
  border: 1px solid rgb(var(--color-d), 0.2);
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  padding: 0 0.5em;
}

.file-label::after {
  content: "Browse...";
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-s));
  width: 19.5%;
  min-width: 80px;
  place-content: center;
}

.file-label::before {
  content: attr(data-filename);
  width: 80%;
  bottom: 0;
  right: 0;
  background-color: rgb(var(--color-d), 0.2);
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.form-wrapper .form-bottom-sec {
  padding: 1em 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.form-wrapper .form-bottom-sec button {
  font-size: calc(var(--fs-p) + 0.1em);
}

.session-anim {
  background-color: rgb(var(--color-r), 0.8);
  width: 100%;
  height: 20px;
  margin: 1em 0;
  transform-origin: left center;
  animation-name: reduce-scale;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.uility-btn-sec {
  margin: 0.2%;
  margin-left: auto;
  white-space: nowrap;
}

.uility-btn-sec > button {
  font-size: calc(var(--fs-p) + 0.2em);
  padding: 0.3em 0.5em;
  border-radius: 10px;
  transition: 0.3s all ease-out;
}

.uility-btn-sec > button:hover {
  background-color: rgb(var(--color-d), 0.1);
}

@media screen and (max-width: 980px) {
  :root {
    --navbar-w: 0px;
  }

  .menubar {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .form-wrapper .form-content-wrapper-grid {
    --min-width: 320px;
  }

  .db-filter .radio-btn-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .form-wrapper .form-content-wrapper {
    flex-direction: column;
  }

  .db-filter .radio-btn-wrapper {
    justify-content: end;
    gap: 1em;
  }
}

@media screen and (max-width: 450px) {
  .form-wrapper .form-content-wrapper-grid {
    --min-width: 250px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reduce-scale {
  0% {
    scale: 100% 100%;
  }

  100% {
    scale: 0% 100%;
  }
}
