* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

:root {
  --color-p: 0, 123, 255;
  --color-p-s: 0, 110, 229;
  --color-s: 245, 246, 250;
  --color-g: 49, 196, 82;
  --color-r: 227, 92, 105;
  --color-d: 52, 58, 64;
  --color-w: 254, 192, 7;

  --fs-h-p: 1.8rem;
  --fs-h-s: auto;
  --fs-p: 0.9rem;
  --fs-s: auto;

  --navbar-w: 72px;
}

.btn {
  background-color: transparent;
  text-decoration: none;
  border: none;
  display: block;
  cursor: pointer;
}

.btn-p,
.btn-y,
.btn-s {
  padding: .5em .8em;
  color: white;
  min-height: 38px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-p {
  background-color: rgb(var(--color-p));
}

.btn-y {
  background-color: rgb(var(--color-w));
}

.btn-s {
  background-color: rgb(var(--color-g));
}

.padding-b-2em {
  padding-bottom: 2em;
}

.main-cont {
  min-height: 100vh;
  background-color: rgb(var(--color-s));
  display: flex;
}

/* navbar style */

.menubar {
  background-color: rgb(var(--color-d));
  height: 100vh;
  overflow-y: auto;
  width: var(--navbar-w);
  flex: 1 0 auto;
  transition: width 0.5s ease-out;
  z-index: 1;
  overflow-x: hidden;
  stroke-width: none;
}

.menubar::-webkit-scrollbar {
  display: none;
}

.menubar.active {
  width: 250px;
  position: initial;
}

.menubar.p-absolute {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.menubar:hover {
  width: 250px;
}

.menubar .nav-item > a > *,
.menubar .nav-item > ul > li > a > * {
  opacity: 0;
  transition: opacity 0.5s;
}

.menubar:hover .nav-item > a > *,
.menubar:hover .nav-item > ul > li > a > *,
.menubar.active .nav-item > a > *,
.menubar.active .nav-item > ul > li > a > * {
  opacity: 1;
}

.menubar .nav-item .menu-icon {
  opacity: 1 !important;
}

.top-sec {
  padding: 0.08em 0;
}

.top-sec > div {
  --h-spac: 1.3em;
  padding-left: var(--h-spac);
  padding-right: var(--h-spac);
}

.brand-logo {
  font-size: 1.05rem;
  color: rgb(var(--color-s));
  margin: 0.5em 0;
  white-space: nowrap;
}

.img-r {
  border-radius: 50%;
  overflow: hidden;
}

.img-r > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img-sec {
  padding: 0.7em 0;
  border-top: 1px solid rgb(var(--color-s), 0.4);
  border-bottom: 1px solid rgb(var(--color-s), 0.4);
}

.profile-img-wrapper {
  width: 35px;
  aspect-ratio: 1;
}

.nav-items {
  padding: 0.8rem 0.5rem;
}

.nav-items li {
  list-style: none;
}

.nav-items li > a {
  font-size: calc(var(--fs-p) + 0.3em);
  text-decoration: none;
  color: rgb(var(--color-s));
  padding: 0.45em 0.9em;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.4s ease-out;
}

.nav-items li:hover > a,
.dropdown.open > a {
  color: white;
  background-color: rgb(var(--color-s), 0.2);
}

.nav-items a > span {
  font-size: var(--fs-p);
  white-space: nowrap;
}

.nav-items .nav-item.active > a {
  background-color: rgb(var(--color-p));
  color: white;
}

.nav-item:not(:last-child),
.nav-item > ul > li:not(:last-child) {
  margin-bottom: 0.2em;
}

.nav-item.dropdown {
  margin-bottom: 0;
}

.nav-item > ul {
  max-height: 0px;
  margin-top: 0.2em;
}

.dropdown > ul {
  height: fit-content;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.dropdown > a {
  position: relative;
}

.dropdown.open > ul {
  max-height: max(1000px, 100vh);
}

.dd-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  color: var(--color-s);
  display: grid;
  place-content: center;
  font-size: var(--fs-p);
  rotate: 90deg;
  transition: rotate 0.4s !important;
}

.dropdown.open .dd-icon {
  rotate: 0deg;
}

.nav-closer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  inset: 0;
  margin: auto;
  display: none;
  z-index: -1;
}

.nav-closer.active {
  display: block;
  z-index: 0;
}

/* navbar style end */

.page-contents {
  background-color: rgb(var(--color-s));
  width: calc(100% - var(--navbar-w));
  margin-left: var(--navbar-w);
}

.page-contents.m0 {
  margin-left: 0;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 0.5em;
  background-color: white;
}

.top-bar > h4 {
  color: rgb(var(--color-p));
}

.menu-toggle {
  margin: 0 0.5em;
}

.menu-toggle > button {
  font-size: 1.2rem;
  border: none;
  padding: 0.5em;
  background-color: transparent;
  cursor: pointer;
}

.content-container {
  padding: .8em;
}

.content-container > div:not(:last-child) {
  margin-bottom: 1.3em;
}

.main-heading {
  font-size: var(--fs-h-p);
  padding: 0.4em .2em;
}

.dashboard-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.dashboard-info:not(:last-child) {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.499);
}

.card {
  padding: 1em;
  margin: 0.5em;
  color: white;
  min-height: 140px;
}

.card-p {
  background-color: rgb(var(--color-p));
  position: relative;
}

.card-p .count {
  font-size: calc(var(--fs-h-p) - 0.2rem);
  font-weight: bold;
}

.card-p .name {
  font-size: var(--fs-p);
}

.card-p .details {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  padding: 0.6em;
  background-color: rgb(var(--color-p-s));
  text-decoration: none;
  display: block;
  text-align: center;
}

.back-icon {
  position: absolute;
  top: 0;
  right: 0.5rem;
  color: black;
  opacity: 0.2;
}

.back-icon > i {
  transform-origin: top right;
  scale: 5;
  transition: 0.5s scale;
}

.card-p:hover .back-icon > i {
  scale: 6;
}

.card-s,
.card-t {
  display: flex;
}

.card-s {
  background-color: rgb(var(--color-g));
}

.card-t {
  background-color: rgb(var(--color-r));
}

.card-s .count,
.card-t .count {
  font-size: calc(var(--fs-p) + .2rem);
  font-weight: bold;
}

.card-icon {
  font-size: calc(var(--fs-h-p) + 0.5rem);
  display: grid;
  place-content: center;
  padding: 0 0.6em;
}

.card-contents {
  flex-grow: 1;
}

.card-top-text {
  font-size: calc(var(--fs-p) + .2rem);
  opacity: .8;
}

.card progress {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  height: 5px;
  border-radius: 2px;
  border: none;
  width: 95%;
  margin: 0.8em 0;
  background-color: rgba(255, 255, 255, 0.335);
}

.card progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.335);
}

.card progress::-webkit-progress-value {
  background-color: white;
}

.card progress::-moz-progress-bar {
  background-color: white;
}

.card label {
  font-size: calc(var(--fs-p) + .2rem);
  opacity: .8;
}

.table-wrapper,
.form-wrapper {
  background-color: white;
  border-radius: 9px;
  overflow: hidden;
}

.table-wrapper {
  padding-left: 1em;
  padding-right: 1em;
}

.table-resp-wrapper {
  overflow-x: auto;
}

.table-heading,
.form-heading {
  padding: 1em;
  border-bottom: 1px solid rgb(var(--color-d), .2);
}

.table-heading {
  padding-bottom: .9em;
  margin-bottom: .9em;
}

.form-heading {
  background-color: rgb(var(--color-p));
  color: white;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--fs-p);
}

.table-wrapper table, 
.table-wrapper td,
.table-wrapper th {
  border: 1px solid rgb(var(--color-d), .2);
}

.table-wrapper td,
.table-wrapper th {
  padding: .5em .8em;
  text-align: left;
  vertical-align: middle;
}

.table-wrapper .th {
  font-weight: 900;
}

.table-wrapper td img {
  max-height: 30px;
}

.table-wrapper .company-info {
  font-size: calc(var(--fs-p) + .5rem);
}

.table-wrapper .td-options,
.table-wrapper .td-middle {
  text-align: center;
}

.table-wrapper .td-option {
  width: fit-content;
  text-align: center;
  margin: .2em auto;
}

.table-wrapper tr[--data-active="true"] > td:first-child {
  background-color: rgb(var(--color-g));
  color: white;
}

.table-wrapper tr[--data-active="false"] > td:first-child {
  background-color: rgb(var(--color-r));
  color: white;
}

.form-wrapper form {
  padding: 1em;
}

.form-wrapper .form-content-wrapper {
  display: flex;
  gap: .5em;
  align-items: end;
}

.form-wrapper .form-content-wrapper-grid {
  --min-width: 450px;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), auto));
  gap: .5em;
}

.form-wrapper .select-wrapper,
.form-wrapper .input-wrapper {
  width: 100%;
}

.form-wrapper select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: .7em .9em;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.form-wrapper select::-ms-expand {
  display: none;
}

.form-wrapper .select {
  position: relative;
  width: 100%;
  min-width: 15ch;
  border: 1px solid rgb(var(--color-d), .5);
  border-radius: 0.25em;
  padding-right: .3em;
  font-size: var(--fs-p);
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
}

.form-wrapper .select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: rgb(var(--color-d), .5);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  grid-area: select;
  justify-self: end;
  position: absolute;
}

.form-wrapper select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid rgb(var(--color-p));
  border-radius: inherit;
}

.form-wrapper .required {
  color: rgb(var(--color-r));
  font-size: calc(var(--fs-p) + .5em);
}

.form-wrapper label {
  display: block;
  padding-bottom: .3em;
}

.form-wrapper input {
  font-size: var(--fs-p);
  width: 100%;
  border: 1px solid rgb(var(--color-d), .5);
  border-radius: 3px;
}

.form-wrapper input[type='text'] {
  padding: .5em .5em;
}

.form-wrapper input[type="date"] {
  padding: .5em .5em;
}

.form-wrapper input[type='file'] {
  opacity: 0;
  padding: .25em 0;
}

.file-label {
  position: relative;
}

.file-label::after,
.file-label::before {
  box-sizing: border-box;
  position: absolute;
  min-height: 2em;
  border: 1px solid rgb(var(--color-d), .2);
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  padding: 0 .5em;
}

.file-label::after {
  content: "Browse...";
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-s));
  width: 19.5%;
  min-width: 80px;
  place-content: center;
}

.file-label::before {
  content: attr(data-filename);
  width: 80%;
  bottom: 0;
  right: 0;
  background-color: rgb(var(--color-d), .2);
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.form-wrapper .form-bottom-sec {
  padding: 1em 0;
  display: flex;
  align-items: center;
  gap: .5em;
}

.form-wrapper .form-bottom-sec button {
  font-size: calc(var(--fs-p) + .1em);
}

.session-anim {
  background-color: rgb(var(--color-r), .8);
  width: 100%;
  height: 20px;
  margin: 1em 0;
  transform-origin: left center;
  animation-name: 'reduce-scale';
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}


@media screen and (max-width: 980px) {
  :root {
    --navbar-w: 0px;
  }

  .menubar {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .form-wrapper .form-content-wrapper-grid {
    --min-width: 320px;
  }
}

@media screen and (max-width: 700px) {
  .form-wrapper .form-content-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .form-wrapper .form-content-wrapper-grid {
    --min-width: 250px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reduce-scale {
  0% {
    scale: 100% 100%;
  }

  100% {
    scale: 0% 100%;
  }
}
