* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

:root {
  --color-p: 0, 123, 255;
  --color-p-s: 0, 110, 229;
  --color-s: 182, 184, 186;
  --color-g: 49, 196, 82;
  --color-r: 227, 92, 105;
  --color-d: 52, 58, 64;

  --fs-h-p: 1.8rem;
  --fs-h-s: auto;
  --fs-p: 0.9rem;
  --fs-s: auto;

  --navbar-w: 72px;
}

.main-cont {
  height: 100vh;
  background-color: rgb(var(--color-s));
  display: flex;
}

/* navbar style */

.menubar {
  background-color: rgb(var(--color-d));
  height: 100vh;
  overflow-y: auto;
  width: var(--navbar-w);
  flex: 1 0 auto;
  transition: width 0.5s ease-out;
  z-index: 1;
}

.menubar.active {
  width: 250px;
  position: initial;
}

.menubar.p-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.menubar:hover {
  width: 250px;
}

.menubar .nav-item > a > *,
.menubar .nav-item > ul > li > a > * {
  opacity: 0;
  transition: opacity 0.5s;
}

.menubar:hover .nav-item > a > *,
.menubar:hover .nav-item > ul > li > a > *,
.menubar.active .nav-item > a > *,
.menubar.active .nav-item > ul > li > a > * {
  opacity: 1;
}

.menubar .nav-item .menu-icon {
  opacity: 1 !important;
}

.top-sec {
  padding: 0.08em 0;
}

.top-sec > div {
  --h-spac: 1.3em;
  padding-left: var(--h-spac);
  padding-right: var(--h-spac);
}

.brand-logo {
  font-size: 1.05rem;
  color: rgb(var(--color-s));
  margin: 0.5em 0;
  white-space: nowrap;
}

.img-r {
  border-radius: 50%;
  overflow: hidden;
}

.img-r > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img-sec {
  padding: 0.7em 0;
  border-top: 1px solid rgb(var(--color-s), 0.4);
  border-bottom: 1px solid rgb(var(--color-s), 0.4);
}

.profile-img-wrapper {
  width: 35px;
  aspect-ratio: 1;
}

.nav-items {
  padding: 0.8rem 0.5rem;
}

.nav-items li {
  list-style: none;
}

.nav-items li > a {
  font-size: calc(var(--fs-p) + 0.3em);
  text-decoration: none;
  color: rgb(var(--color-s));
  padding: 0.45em 0.9em;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.4s ease-out;
}

.nav-items li:hover > a,
.dropdown.open > a {
  color: white;
  background-color: rgb(var(--color-s), 0.2);
}

.nav-items a > span {
  font-size: var(--fs-p);
  white-space: nowrap;
}

.nav-items .nav-item.active > a {
  background-color: rgb(var(--color-p));
  color: white;
}

.nav-item:not(:last-child),
.nav-item > ul > li:not(:last-child) {
  margin-bottom: 0.2em;
}

.nav-item.dropdown {
  margin-bottom: 0;
}

.nav-item > ul {
  max-height: 0px;
  margin-top: 0.2em;
}

.dropdown > ul {
  height: fit-content;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.dropdown > a {
  position: relative;
}

.dropdown.open > ul {
  max-height: 100vh;
}

.dd-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  color: var(--color-s);
  display: grid;
  place-content: center;
  font-size: var(--fs-p);
  rotate: 90deg;
  transition: rotate 0.4s !important;
}

.dropdown.open .dd-icon {
  rotate: 0deg;
}

.nav-closer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  inset: 0;
  margin: auto;
  display: none;
  z-index: -1;
}

.nav-closer.active {
  display: block;
  z-index: 0;
}

/* navbar style end */

.page-contents {
  background-color: rgb(var(--color-s));
  width: calc(100% - var(--navbar-w));
  margin-left: var(--navbar-w);
}

.page-contents.m0 {
  margin-left: 0;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 0.5em;
  background-color: white;
}

.top-bar > h4 {
  color: rgb(var(--color-p));
}

.menu-toggle {
  margin: 0 0.5em;
}

.menu-toggle > button {
  font-size: 1.2rem;
  border: none;
  padding: 0.5em;
  background-color: transparent;
  cursor: pointer;
}

.content-container {
  padding: 1em;
}

.main-heading {
  font-size: var(--fs-h-p);
  padding: 0.4em 0;
}

.dashboard-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.dashboard-info:not(:last-child) {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.499);
}

.card {
  padding: 1em;
  margin: 0.5em;
  color: white;
  min-height: 140px;
}

.card-p {
  background-color: rgb(var(--color-p));
  position: relative;
}

.card-p .count {
  font-size: calc(var(--fs-h-p) - 0.2rem);
  font-weight: bold;
}

.card-p .name {
  font-size: var(--fs-p);
}

.card-p .details {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  padding: 0.6em;
  background-color: rgb(var(--color-p-s));
  text-decoration: none;
  display: block;
  text-align: center;
}

.back-icon {
  position: absolute;
  top: 0;
  right: 0.5rem;
  color: black;
  opacity: 0.2;
}

.back-icon > i {
  transform-origin: top right;
  scale: 5;
  transition: 0.5s scale;
}

.card-p:hover .back-icon > i {
  scale: 6;
}

.card-s,
.card-t {
  display: flex;
}

.card-s {
  background-color: rgb(var(--color-g));
}

.card-t {
  background-color: rgb(var(--color-r));
}

.card-s .count,
.card-t .count {
  font-size: calc(var(--fs-p) + .2rem);
  font-weight: bold;
}

.card-icon {
  font-size: calc(var(--fs-h-p) + 0.5rem);
  display: grid;
  place-content: center;
  padding: 0 0.6em;
}

.card-contents {
  flex-grow: 1;
}

.card-top-text {
  font-size: calc(var(--fs-p) + .2rem);
  opacity: .8;
}

.card progress {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  height: 5px;
  border-radius: 2px;
  border: none;
  width: 95%;
  margin: 0.8em 0;
  background-color: rgba(255, 255, 255, 0.335);
}

.card progress::-webkit-progress-value {
  background-color: white;
}

.card progress::-moz-progress-bar {
  background-color: white;
}

.card label {
  font-size: calc(var(--fs-p) + .2rem);
  opacity: .8;
}

@media screen and (max-width: 980px) {
  :root {
    --navbar-w: 0px;
  }

  .menubar {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
